@import 'variables';

.nm-playlist-page {
  height: 100%;
  overflow-y: auto;

  .header {
    display: flex;
    margin: 30px;

    .cover {
      border: $nm-border;
      width: 120px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .info {
      padding-left: 30px;

      .title {
        font-size: $font-size-base * 2;
      }
    }
  }
}
