@import "variables";

.nm-playlist {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  ul {
    li {
      height: 30px;
      line-height: 30px;
      padding-left: 30px;
      padding-right: 10px;
      position: relative;

      a {
        width: 100%;
        display: block;
        overflow: hidden;
        color: $text-color;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        background: lighten($gray-lighter, 95%);
      }

      &.selected {
        color: $selection-color;
        background-color: $selection-bg;

        &:before {
          content: "";
          position: absolute;
          top: 4px;
          left: 1px;
          width: 3px;
          height: 22px;
          background-color: $nm-red;
        }
      }
    }
  }
}
